In [1]:
import pandas as pd
import numpy as np
import datetime

In [3]:
df = pd.read_csv(r'datasets/time_series.csv')

In [4]:
df.head()

   ID          Datetime  Count
0   0  25-08-2012 00:00      8
1   1  25-08-2012 01:00      2
2   2  25-08-2012 02:00      6
3   3  25-08-2012 03:00      2
4   4  25-08-2012 04:00      2

In [5]:
df.dtypes

ID           int64
Datetime    object
Count        int64
dtype: object

In [6]:
df['Datetime'][0]

'25-08-2012 00:00'

In [9]:
a = df.loc[0,'Datetime']
a

'25-08-2012 00:00'

In [10]:
type(a)

str

In [11]:
df.head()

   ID          Datetime  Count
0   0  25-08-2012 00:00      8
1   1  25-08-2012 01:00      2
2   2  25-08-2012 02:00      6
3   3  25-08-2012 03:00      2
4   4  25-08-2012 04:00      2

In [13]:
df['Datetime_format'] = pd.to_datetime(df['Datetime'])
df.head()

   ID          Datetime  Count     Datetime_format
0   0  25-08-2012 00:00      8 2012-08-25 00:00:00
1   1  25-08-2012 01:00      2 2012-08-25 01:00:00
2   2  25-08-2012 02:00      6 2012-08-25 02:00:00
3   3  25-08-2012 03:00      2 2012-08-25 03:00:00
4   4  25-08-2012 04:00      2 2012-08-25 04:00:00

In [14]:
df.dtypes

ID                          int64
Datetime                   object
Count                       int64
Datetime_format    datetime64[ns]
dtype: object

In [16]:
b = df.loc[0, 'Datetime_format']
b

Timestamp('2012-08-25 00:00:00')

In [17]:
type(b)

pandas._libs.tslibs.timestamps.Timestamp

In [19]:
c = datetime.datetime.today()
c

datetime.datetime(2022, 5, 15, 18, 37, 53, 749971)

In [20]:
type(c)

datetime.datetime

In [21]:
df.head()

   ID          Datetime  Count     Datetime_format
0   0  25-08-2012 00:00      8 2012-08-25 00:00:00
1   1  25-08-2012 01:00      2 2012-08-25 01:00:00
2   2  25-08-2012 02:00      6 2012-08-25 02:00:00
3   3  25-08-2012 03:00      2 2012-08-25 03:00:00
4   4  25-08-2012 04:00      2 2012-08-25 04:00:00

In [22]:
b

Timestamp('2012-08-25 00:00:00')

In [27]:
b.year, b.month, b.day

(2012, 8, 25)

In [28]:
df['year'] = df['Datetime_format'].apply(lambda x:x.year)
df['month'] = df['Datetime_format'].apply(lambda x:x.month)
df['day'] = df['Datetime_format'].apply(lambda x:x.day)

In [29]:
df.head()

   ID          Datetime  Count     Datetime_format  year  month  day
0   0  25-08-2012 00:00      8 2012-08-25 00:00:00  2012      8   25
1   1  25-08-2012 01:00      2 2012-08-25 01:00:00  2012      8   25
2   2  25-08-2012 02:00      6 2012-08-25 02:00:00  2012      8   25
3   3  25-08-2012 03:00      2 2012-08-25 03:00:00  2012      8   25
4   4  25-08-2012 04:00      2 2012-08-25 04:00:00  2012      8   25

In [30]:
df.dtypes

ID                          int64
Datetime                   object
Count                       int64
Datetime_format    datetime64[ns]
year                        int64
month                       int64
day                         int64
dtype: object

In [31]:
b

Timestamp('2012-08-25 00:00:00')

In [33]:
b.dayofweek

5

In [36]:
b.day_name()

'Saturday'

In [38]:
b.month_name()

'August'

In [41]:
df['dayofweek'] = df['Datetime_format'].apply(lambda x:x.dayofweek)
df['day_name'] = df['Datetime_format'].apply(lambda x:x.day_name())
df['month_name'] = df['Datetime_format'].apply(lambda x:x.month_name())

In [42]:
df.head()

,ID,Datetime,Count,Datetime_format,year,month,day,dayofweek,day_name,month_name
0,0,25-08-2012 00:00,8,2012-08-25 00:00:00,2012,8,25,5,Saturday,August
1,1,25-08-2012 01:00,2,2012-08-25 01:00:00,2012,8,25,5,Saturday,August
2,2,25-08-2012 02:00,6,2012-08-25 02:00:00,2012,8,25,5,Saturday,August
3,3,25-08-2012 03:00,2,2012-08-25 03:00:00,2012,8,25,5,Saturday,August
4,4,25-08-2012 04:00,2,2012-08-25 04:00:00,2012,8,25,5,Saturday,August

In [43]:
def weekend_logic(d):

    if d == 'Saturday' or d == 'Sunday':
        x = 'weekend'
    else:
        x = 'weekday'
        
    return x

In [47]:
df['day_type'] = df['day_name'].apply(lambda i: weekend_logic(i))

In [50]:
df.head()

,ID,Datetime,Count,Datetime_format,year,month,day,dayofweek,day_name,month_name,day_type
0,0,25-08-2012 00:00,8,2012-08-25 00:00:00,2012,8,25,5,Saturday,August,weekend
1,1,25-08-2012 01:00,2,2012-08-25 01:00:00,2012,8,25,5,Saturday,August,weekend
2,2,25-08-2012 02:00,6,2012-08-25 02:00:00,2012,8,25,5,Saturday,August,weekend
3,3,25-08-2012 03:00,2,2012-08-25 03:00:00,2012,8,25,5,Saturday,August,weekend
4,4,25-08-2012 04:00,2,2012-08-25 04:00:00,2012,8,25,5,Saturday,August,weekend

In [51]:
datetime.datetime.today()

datetime.datetime(2022, 5, 15, 18, 48, 56, 352586)

In [53]:
datetime.datetime.today() # timestamp

datetime.datetime(2022, 5, 15, 18, 49, 20, 274917)

In [54]:
datetime.datetime.today() + datetime.timedelta(5)

datetime.datetime(2022, 5, 20, 18, 50, 1, 997323)

In [ ]:
'25- Aug - 12'